/*
FONTS
font-family: 'Roboto Mono', monospace;
font-family: 'Bahiana', cursive; - using
font-family: 'Roboto Slab', serif;
font-family: 'Baloo 2', cursive; -using 

COLORS

salmon
fa697c
pink purple
e13a9d
purple
9b45e4
gold
fcc169
ANOTHER PALLETE

orange
f45905
red 
c70d3a
purple
512c62
turq
45969b
*/


html, body{
  margin: 0px;
  
}
.navB{
 
  text-align: right;
  height:70px;
  line-height:70px;
  position:absolute;
  right:10px;
  top:0px;
}
.whereToB{
  
  width:200px;
  display:none;
  background-color:black;
  padding-bottom:0px;

}


.whereToB a{
  text-decoration: none;
  margin:0;
  margin-right:5px;
  line-height: 70px;
  border-bottom:1px solid #EAEAEB;
  display:flex;
  justify-content: space-around;
  align-items:center;
}
/*.whereToB>li:nth-of-type(3){
  border-bottom: none;
} didnt work*/

label{
  margin:0 40px 0 0;
  font-size:26px;
  line-height:70px;
  display:block;
}
#toggle{
  display:none;
  cursor:pointer;
}
#toggle:checked +.whereToB{
  display:block;
}
.whereTo{
  display:none;
  
}



nav > h1{
  font-size:225%;
}

ul{
  
display:flex;
justify-content:space-around;
border-bottom: solid black 1px;
border-top: solid black 1px;
padding:5px 0;
list-style-type: none;
margin-bottom:0px;
font-family: 'Baloo 2', cursive; 
}
a{
text-decoration: none;

}

h1{
text-align:center;
font-family: 'Bahiana', cursive;
/*text-shadow: 2px 2px 5px #ff0000;*/

}

.jmdb{
margin:4% 0;
padding-left:5px;
}


.bio > p{
padding: 0 10px 0 10px;
  text-align:center;
  font-family: 'Baloo 2', cursive;
}

.backgroundPhoto {
  background-image: url('https://res.cloudinary.com/dq6nhmmpi/image/upload/v1584117328/MarshallBrockSquiggle3_jgknsz.gif');
  min-height: 75px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.generalAssembly{
 display:flex;
 flex-wrap:wrap;
 justify-content:space-around;
 padding: 0 5px;
 /*max-width: 350px;*/
 
 
}
 
.item{
   /*below is picture info comment out if I want to just try Jquery*/
   display:flex;
   flex-direction: column;
   box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, .2);
   height:434px;
   flex: 1 0 185px;
   /*padding:20px;*/
   flex-direction:column;
   max-width: 300px;
   

}
.projImg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:298px;
  height:196px;
}
.wrap{
text-align:center;
padding:0 20px;
box-shadow: 0 -5px 10px 1px rgba(0, 0, 0, .2);
/*height:100%;*/
/*delete this is other doesn't work*/
/* I only want shaddow box on the top---box-shadow: 0 -5px 10px 1px rgba(0, 0, 0, .2);*/
}

.description{
  /*text-align:left;
  padding:0 2% 0 10%;*/
  font-family: 'Baloo 2', cursive; 
  text-align:left;
 
  
}

.title{
  font-family: 'Bahiana', cursive;
  font-size: 175%;
  /*margin:7% 0 1% 0;*/
  margin: 25px 0;
}
/*
.item:nth-of-type(1) {
   display:flex;
  flex-direction: column;
  background-color:black;
  height:200px;
  width:200px;
  margin:5px 0 5px 0;
 
}*/

button{
  background-color:black;
  color:rgba(255,255,255,0.9);
  border:none;
  margin: 0 5% 5% 5%;
  width:90px;
  height:40px;
  font-size: 100%; 
  font-family: 'Baloo 2', cursive; 
}

.contact > .form > p{
text-align:center;
font-family: 'Baloo 2', cursive;
margin-top: 0;

}
.contact > .form > h1{
  text-align:center;
  margin:0 0 0 0;
  }


.form{
  font-family: 'Bahiana', cursive;
  margin-top: 50px;
 padding-top: 10px;
 text-align:center;
  }

footer{
  margin-bottom:50px;
  font-family: 'Baloo 2', cursive;
  /*dont think i have this anymore*/
}

.contact{
  background-color: lightblue;
  margin:0 7%;

}
#contactform{
  padding-bottom:15px;
  margin-bottom:25px;
}

.form-control{
width:150px;
outline: none;
border:none;
background:transparent;
font-size:15px;
border-bottom: 1px solid gray;


}
form-control.submit{
border-color:transparent;
font-size:15px;
}


.submit{
  width:50%;
  border-bottom:none;
}

form .submit:hover{
background-color:lightgreen;
}



                                                                                        /*      medium     */
@media (min-width:768px) and (max-width:1023px){
  .whereToB{
    width:300px;
  }

  .jmdb{
    margin:2% 0;
    }


  .whereToB a{
    display:flex;
    justify-content: space-around;
    align-items:center;
  }


  .whereTo{
    display:none;
  }

.generalAssembly{
  /*margin:50px 50px;*/
  padding: 0 20px;
 
}

.item{
  min-width:275px;
 
}
/*.item changes boxes size*/
.wrap{
  
  
}
/*description*/
/*title*/

button{
  margin:2% 0 2% 0;
}
form{
  margin-top:25px;
  margin-bottom:50px;
}
.form-control{
  width:450px;
  font-size:15px;
  border-bottom: 1px solid gray;
  
}
form-control.submit{
  border-color:transparent;
  font-size:15px;
 
}

.submit{
  padding:10px 0 2px 0;
  width:150px;
}
#contactform{
  padding-bottom:50px;
 
  
}

.contact{
  margin:0 15%;
}



}



                                                                                          /*            large           */

@media (min-width:1024px){
  .navB{
    display:none;
  }

  .jmdb{
    margin:1% 0 1% .5%;
    
    }

  a{
    text-decoration: none;
    color: white;
}
ul{
  border: none;
  display:flex;
}

li{
    border-right: solid white 1px;
    flex:1;
}
li:nth-of-type(3){
    border-right: none;
}
nav > h1{
margin:1% 0 1% 4%;
/*this margin will control the width of the banner*/
}

body{
    width:100%;
}

.bannerTop{
    background-color: #fa697c;
    display:flex;
    text-align: center;
    /*opacity: 0.3;*/
    
}

nav >.whereTo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex:1;
    margin-left: 40%;
    margin-right: 1%;
    list-style-type: none;
    margin-top: 0px;
    font-size:125%;
}

nav > h1{
 /*font-size:250%; this is the banner for the desktop*/
}

.backgroundPhoto {
   
    background-image: url('https://res.cloudinary.com/dq6nhmmpi/image/upload/v1584117328/MarshallBrockSquiggle3_jgknsz.gif');
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .container{
      background-color: white;
      display:column;
      width: 100%;
    
  }

  .aboutMe{
    /*background-color: ;*/
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
   
  }

  .bio > p{
    padding: 0 10%;
  }
 
  .generalAssembly{
    /*padding: 0 20px;*/
    margin: 0 8% 8% 8%;
  }
  .item{
    /*flex-grow:1;*/
    margin:1%;
    /*padding:2%;*/
    
    
  }
  
  button{
  
  }
 
  /*
  .item:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color:black;

  }
  */
  form{
    margin-top:25px;
    margin-bottom: 75px;
  }
  .form-control{
    width:550px;
    font-size:15px;
    border-bottom: 1px solid gray;
    
  }
  form-control.submit{
    border-color:transparent;
    font-size:15px;
  }

  .submit{
    padding:10px 0 2px 0;
    width:150px;
  }

  .contact{
    /*margin:0 200px;*/
    padding-top:30px;
    margin:0 20%;
  
  }
  #contactform{
    
    
  }

  .form{
    padding-bottom:55px;
    margin-bottom: 30px;
    margin-top: 15px;
    
    
  }
  
  
  
  }
  

  







