/*
font-family: 'Roboto Mono', monospace;
font-family: 'Bahiana', cursive;
*/


html, body{
  margin: 0px;
}
.navB{
 
  text-align: right;
  height:70px;
  line-height:70px;
  position:absolute;
  right:10px;
  top:0px;
}
.whereToB{
  
  width:200px;
  display:none;
  background-color:black;
  padding-bottom:0px;

}

.whereToB a{
  text-decoration: none;
  color:gray;
  margin:0;
  margin-right:5px;
  line-height: 70px;
  border-bottom:1px solid #EAEAEB;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
/*.whereToB>li:nth-of-type(3){
  border-bottom: none;
} didnt work*/

label{
  margin:0 40px 0 0;
  font-size:26px;
  line-height:70px;
  display:block;
}
#toggle{
  display:none;
  cursor:pointer;
}
#toggle:checked +.whereToB{
  display:block;
}
.whereTo{
  display:none;
}

ul{
  
display:flex;
justify-content:space-around;
border-bottom: solid black 1px;
border-top: solid black 1px;
padding:5px 0;
list-style-type: none;
margin-bottom:0px;
}
a{
text-decoration: none;
}

h1{
text-align:center
}


.bio > p{
padding: 0 10px 0 10px;
  text-align:center
}

.backgroundPhoto {
  background-image: url('https://res.cloudinary.com/dq6nhmmpi/image/upload/v1583546644/sky_r8wmcr.jpg');
  min-height: 75px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.generalAssembly{
    /*margin:50px 50px;*/
  text-align:center;
    display:grid;
  height:auto;
  grid-template-columns: repeat(1, 1fr);
}
 
.item{
   /*below is picture info comment out if I want to just try Jquery*/
   display:flex;
   flex-direction: column;
   background-color:black;
   height:250px;
   width:250px;
   margin:5px 0 5px 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, .2);
}

.description{}

.title{
  flex:1;
  background-color: white;
  
}
/*
.item:nth-of-type(1) {
   display:flex;
  flex-direction: column;
  background-color:black;
  height:200px;
  width:200px;
  margin:5px 0 5px 0;
 
}*/

.contact > .form > p{
text-align:center;

}

footer{
  margin-bottom:50px;
}

form{
margin:25px 0 10px 0;
}
.form-control{
width:150px;
outline: none;
border:none;
background:transparent;
font-size:15px;
border-bottom: 1px solid gray;


}
form-control.submit{
border-color:transparent;
font-size:15px;
}

.form{
text-align:center;
padding-top: 45px;

}

.submit{
  width:50%;
  border-bottom:none;
}

form .submit:hover{
background-color:lightgreen;
}



/*      medium     */
@media (min-width:768px) and (max-width:1023px){
  .whereToB{
    width:300px;
  }
  .whereToB a{
    display:flex;
    justify-content: space-around;
    align-items:center;
  }


  .whereTo{
    display:none;
  }

.generalAssembly{
  /*margin:50px 50px;*/
  grid-gap: 10px;
  padding: 0 10%;
  height:400px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

form{
  margin-top:25px;
  margin-bottom:50px;
}
.form-control{
  width:450px;
  font-size:15px;
  border-bottom: 1px solid gray;
  
}
form-control.submit{
  border-color:transparent;
  font-size:15px;
 
}

.submit{
  padding:10px 0 2px 0;
  width:150px;
}

}



/*            large           */

@media (min-width:1024px){
  .navB{
    display:none;
  }

  a{
    text-decoration: none;
    color: white;
}
ul{
  border: none;
  display:flex;
}

li{
    border-right: solid white 1px;
    flex:1;
}
li:nth-of-type(3){
    border-right: none;
}
nav > h1{
margin-left: 4%;
}

body{
    width:100%;
}

.bannerTop{
    background-color: gray;
    display:flex;
    text-align: center;
    /*opacity: 0.3;*/
    
}

nav >.whereTo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex:1;
    margin-left: 40%;
    margin-right: 1%;
    list-style-type: none;
}

.backgroundPhoto {
   
    background-image: url('https://res.cloudinary.com/dq6nhmmpi/image/upload/v1583546644/sky_r8wmcr.jpg');
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .container{
      background-color: white;
      display:column;
      width: 100%;
    
  }

  .aboutMe{
    background-color: lightyellow;
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
   
  }

  .bio > p{
    padding: 0 10%;
  }
 
  .generalAssembly{
      padding:0% 5%;
      margin:0 40px;
      align-items:center;
      grid-gap:10px;
      height: 500px;
      display:flex;
      justify-content:space-evenly;
      flex-wrap: wrap;
      
  }
  .item{
    /*flex-grow:1;*/
    flex-basis:30%;
  }

 
  /*
  .item:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color:black;

  }

  .item:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color:black;

  }
  .item:nth-of-type(3){
    grid-column: 3/4;
    grid-row: 1/2;
    background-color:black;

  }

  .item:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color:black;

  }

  .item:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color:black;

  }
  .item:nth-of-type(6) {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color:black;
  }
  */
  form{
    margin-top:25px;
    margin-bottom: 75px;
  }
  .form-control{
    width:550px;
    font-size:15px;
    border-bottom: 1px solid gray;
    
  }
  form-control.submit{
    border-color:transparent;
    font-size:15px;
  }

  .submit{
    padding:10px 0 2px 0;
    width:150px;
  }
  
  
  }
  
  /*hamburger
  https://www.youtube.com/watch?v=xMTs8tAapnQ*/
  














/*
a{
    text-decoration: none;
    color: white;
}

li{
    border-right: solid white 1px;
    padding: 0 30px 0 0;
}
li:nth-of-type(5){
    border-right: none;
}
h1{
margin-left: 4%;
}

body{
    width:100%;
}

.bannerTop{
    background-color: gray;
    display:flex;
    text-align: center;
    
}

nav >.whereTo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex:1;
    margin-left: 40%;
    margin-right: 1%;
    list-style-type: none;
}

.backgroundPhoto {
   
    background-image: url('https://res.cloudinary.com/dq6nhmmpi/image/upload/v1583546644/sky_r8wmcr.jpg');
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .container{
      background-color: white;
      display:column;
      width: 100%;
    
  }

  .aboutMe{
    background-color: lightyellow;
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
   
  }
 
  .generalAssembly{
      padding:10% 5%;
      border: 1px solid black;
      display:grid;
      grid-gap:30px;
      height: 500px;
      grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
  }

  .item:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color:black;

  }

  .item:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color:black;

  }
  .item:nth-of-type(3){
    grid-column: 3/4;
    grid-row: 1/2;
    background-color:black;

  }

  .item:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color:black;

  }

  .item:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color:black;

  }
  .item:nth-of-type(6) {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color:black;

  }

  this is the form
  .last{
    border: solid black 1px;
    display: flex;
    margin:0 25px;
    padding:10px;
  }
  

  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: gray;
  }

  
  footer{
    margin-bottom:50px;
  }
*/

/*
  @media (min-width:1024px){} 
  @media (min-width:768px) and (max-width:1023px){}
  @media (max-width: 767px){}*/